#wrap {width: 720px; margin:0 auto; overflow:hidden; padding:10px;}
h3 {line-height:1; font-weight:normal; font-size:14px}
h3 {padding: 8px; cursor:pointer; background: #eee url("state.gif") no-repeat 100% 5px; display:block; text-decoration:none; margin:0; margin-top:10px;}  
h3 a {color: #000; text-decoration:none;}
ul {}
.active {background-color: #ddd;  background-position: 100% -21px;}
.col {float: left; width:210px; margin-right:30px;}
.disclaim {margin:10px; padding:10px; background: red;}

ul {}
li {}

/* YAY IE6 awsomeness */
*html h3 a {zoom:1;}